/*---- fonts ----*/
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

#nav {
    background-color: #1E87F0 !important;
    color: #ffffff !important;
}

.StripeElement{
    padding-top: 10px !important;
}

.successfullySubscribed {
    background-color: #23D160;
    color: #ffffff;
}

.sm-t-padding {
    padding-top: 10px !important;
}

.StripeElement--invalid{
    padding-top: 10px !important;
}

#v-select {
    background-color: #ffffff;
    border-radius: 0px !important;
}

[v-cloak] {
    display: none;
}

.uk-button-warning {
    background-color: #F8EB32;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Maven pro', sans-serif;
}

a.button {
    text-decoration: none;
}

.rm-bottom-margin {
    margin-bottom: 0px !important;
}

.rm-top-margin {
    margin-top: 0px !important;
}

.rm-lr-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.rm-top-padding {
    padding-top: 0px !important;
}

.sm-bottom-padding {
    padding-bottom: 20px !important;
}

.text-smaller {
    font-size: 12px;
}

div.dropdown.v-select.searchable {
    width: 100%;
}

div.dropdown-toggle {
    width: 100%;
}