<template>
    <div>
        <form @submit.prevent="updatePage(page.slug)">

            <div class="uk-section uk-section-default">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-cover-container">
                            <canvas width="400" height="300"></canvas>
                            <img :src="imageToShow" :alt=pageSlug uk-cover>
                        </div>

                        <div class="uk-margin" uk-margin>
                            <div class="uk-width-1-1" uk-form-custom="target: true">
                                <input type="file" v-on:change="onFileChange" name="product_image">
                                <input class="uk-input" type="text"
                                    placeholder="Click here to choose an image for your product">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- one -->

            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Product Name">
                                Product Name
                            </label>
                            <div class="uk-form-controls">
                                <input v-model="page.product_name"
                                    class="uk-input" type="text"
                                    :class="{ 'uk-form-danger': formErrors.product_name }"
                                    placeholder="A bag of opensource tomatoes"
                                    name="product_name" required
                                >
                                <p class="uk-text-small uk-text-danger"
                                    v-if="formErrors.product_name">
                                    {{formErrors.product_name[0]}}
                                </p>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Price">
                                Price
                            </label>
                            <div class="uk-form-controls">
                                <input v-model="page.price"
                                    class="uk-input" type="text"
                                    :class="{ 'uk-form-danger': formErrors.price }"
                                    placeholder="500"
                                    name="price" required
                                >
                                <p class="uk-text-small uk-text-danger"
                                    v-if="formErrors.price">
                                    {{formErrors.price[0]}}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- two -->

            <div class="uk-section uk-section-default">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Product info">
                                Product info
                            </label>
                            <textarea class="uk-textarea" rows="4"
                                v-model="page.product_info"
                                placeholder="Customers say this is the best bag of tomatoes ever."
                                name="product_info"
                            >
                            </textarea>
                        </div>

                    </div>
                </div>
            </div>
            <!-- three -->

            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Input Options">
                                Input Options
                            </label>
                            <div class="uk-form-controls">
                                <v-select
                                    id="v-select"
                                    :multiple=true
                                    :close-on-select=false
                                    :value.sync="page.inputs"
                                    :options="inputOptions">
                                </v-select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Brand color">
                                Brand color
                            </label>
                            <div class="uk-form-controls">
                                <input v-model="page.accent_color"
                                    class="uk-input" type="text"
                                    placeholder="#ffffff"
                                    name="accent_color"
                                >
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- four -->

            <div class="uk-section uk-section-default">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Redirect to">
                                Redirect to
                            </label>
                            <p class="text-smaller uk-display-inline">
                                Users'll be directed to this route after successful payment.
                            </p>
                            <div class="uk-form-controls">
                                <input v-model="page.redirect_to"
                                    class="uk-input" type="text"
                                    :class="{ 'uk-form-danger': formErrors.redirect_to }"
                                    placeholder="user.afterPayment"
                                    name="redirect_to" required
                                >
                                <p class="uk-text-small uk-text-danger"
                                    v-if="formErrors.redirect_to">
                                    {{formErrors.redirect_to[0]}}
                                </p>
                            </div>
                        </div>

                        <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
                            Update Product Page
                        </button>

                    </div>
                </div>
            </div>
            <!-- five -->

        </form>
    </div>
</template>

<script>
    import vSelect from "vue-select"

	export default {
        components: {
            vSelect
        },

        props: [
            'pageSlug',
            'pageImage'
        ],

		data () {
			return {
                page: {},
				image: "",
                formErrors: [],
                inputOptions: [],
                savingLoader: true,
                inputOptionsSync: []
			}
		},

        mounted: function () {
            this.fetchPageDetails();
            this.fetchDefaultInputs();
        },

        computed: {
            imageToShow () {
                return this.image !== "" ? this.image : this.pageImage
            },
        },

		methods: {

            fetchPageDetails () {
                this.$http.get(`/ajax/page/${this.pageSlug}`).then((response) => {
                    this.page = response.data;
                });
            },

            fetchDefaultInputs () {
                this.$http.get(`/ajax/config/inputs`).then((response) => {
                    this.inputOptions = response.data;
                });
            },

			onFileChange(e) {
                let files = e.target.files;
                if (files.length === 0) {
                    this.image = ""
                    return;
                }
                let reader = new FileReader();
                reader.onload = (e) => {
                    this.image = e.target.result;
                };
                reader.readAsDataURL(files[0]);
            },

            updatePage (slug) {
                this.savingLoader = false;

                if (this.image !== "") {
                    this.page['product_image'] = this.image;
                    this.updateTask(slug);
                } else if (this.image === "") {
                    this.updateTask(slug);
                }
            },

            updateTask(slug) {
                this.$http.patch(`/ajax/page/${slug}/update`, this.page).then((response) => {

                    this.$swal({
                        title: 'Success',
                        text: 'You have successfully updated a product page.',
                        type: 'success',
                        timer: 2000
                    });
                    this.savingLoader = true;

                }).catch( errors => {
                    this.savingLoader = true;
                    this.formErrors = errors.response.data.errors;
                });
            }

		}
	}
</script>