<template>
    <div>
        <form @submit.prevent="createPage">

            <div class="uk-section uk-section-default">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-cover-container">
                            <canvas width="400" height="300"></canvas>
                            <img v-if="!image" src="/vendor/paybox/uploads/placeholder.png" alt="product image" uk-cover>
                            <img :src="image" alt="product image" uk-cover>
                        </div>

                        <div class="uk-margin" uk-margin>
                            <div class="uk-width-1-1" uk-form-custom="target: true">
                                <input type="file" v-on:change="onFileChange" name="product_image">
                                <input class="uk-input" type="text"
                                    placeholder="Click here to choose an image for your product">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- one -->

            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Product Name">Product Name</label>
                            <div class="uk-form-controls">
                                <input v-model="newPage.product_name"
                                    class="uk-input" type="text"
                                    :class="{ 'uk-form-danger': formErrors.product_name }"
                                    placeholder="A bag of opensource tomatoes"
                                    name="product_name" required
                                >
                                <p class="text-smaller uk-text-danger uk-margin-remove"
                                    v-if="formErrors.product_name">
                                    {{formErrors.product_name[0]}}
                                </p>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Price">Price</label>
                            <div class="uk-form-controls">
                                <input v-model="newPage.price"
                                    class="uk-input" type="text"
                                    :class="{ 'uk-form-danger': formErrors.price }"
                                    placeholder="500"
                                    name="price" required
                                >
                                <p class="text-smaller uk-text-danger uk-margin-remove"
                                    v-if="formErrors.price">
                                    {{formErrors.price[0]}}
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- two -->

            <div class="uk-section uk-section-default">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Product info">Product info</label>
                            <textarea class="uk-textarea" rows="4"
                                v-model="newPage.product_info"
                                placeholder="Customers say this is the best bag of tomatoes ever."
                                name="product_info"
                            >
                            </textarea>
                        </div>

                    </div>
                </div>
            </div>
            <!-- three -->

            <div class="uk-section uk-section-muted">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for=" Input Options">
                                Input Options
                            </label>
                            <div class="uk-form-controls">
                                <v-select
                                    id="v-select"
                                    :multiple=true
                                    :close-on-select=false
                                    :value.sync="inputOptionsSync"
                                    v-model="selectedInputs"
                                    :options="inputOptions">
                                </v-select>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Brand Color">
                                Brand color
                            </label>
                            <div class="uk-form-controls">
                                <input v-model="newPage.brand_color"
                                    class="uk-input" type="text"
                                    placeholder="#ffffff"
                                    name="brand_color"
                                >
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- four -->

            <div class="uk-section uk-section-default">
                <div class="uk-container">
                    <div class="uk-width-xlarge uk-margin uk-align-center">

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Redirect to">Redirect to</label>
                            <p class="text-smaller uk-display-inline">
                                Users'll be directed to this route after successful payment.
                            </p>
                            <div class="uk-form-controls">
                                <input v-model="newPage.redirect_to"
                                    class="uk-input" type="text"
                                    :class="{ 'uk-form-danger': formErrors.redirect_to }"
                                    placeholder="user.afterPayment"
                                    name="redirect_to" required
                                >
                                <p class="text-smaller uk-text-danger uk-margin-remove"
                                    v-if="formErrors.redirect_to">
                                    {{formErrors.redirect_to[0]}}
                                </p>
                            </div>
                        </div>

                        <button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
                            Create Product Page
                        </button>

                    </div>
                </div>
            </div>
            <!-- five -->

        </form>
    </div>
</template>

<script>
    import vSelect from "vue-select"
	export default {
        components: {
            vSelect
        },
		data () {
			return {
				image: "",
				newPage: {
                    price: "",
                    page_inputs: [],
                    redirect_to: "",
                    brand_color: "",
                    product_name: "",
                    product_image: "",
                    product_info: ""
				},
                inputOptionsSync: null,
                inputOptions: [],
                savingLoader: true,
                selectedInputs: [],
                formErrors: []
			}
		},

        mounted () {
            this.getDefaultInputs();
        },

		methods: {

            getDefaultInputs () {
                this.$http.get(`/ajax/config/inputs`).then((response) => {
                    this.inputOptions = response.data;
                });
            },

			onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },

            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                    vm.newPage.product_image = e.target.result;
                };
                reader.readAsDataURL(file);
            },

            resetInputs () {
                this.newPage = {
                    price: "",
                    page_inputs: [],
                    redirect_to: "",
                    brand_color: "",
                    product_name: "",
                    product_image: "",
                    product_info: ""
				}
                this.selectedInputs = [];
            },

            createPage () {
                this.savingLoader = false;
                this.newPage.page_inputs = this.selectedInputs
                let details = this.newPage;

                this.$http.post('/ajax/page/store', details).then((response) => {
                    this.$swal({
                        title: 'Success',
                        text: 'You have successfully created a product page.',
                        type: 'success',
                        timer: 2000
                    });
                    this.savingLoader = true;
                    this.resetInputs();

                }).catch( errors => {
                    this.savingLoader = true;
                    this.formErrors = errors.response.data.errors;
                });
            }

		},

	}
</script>