<template>

    <div uk-modal class="uk-flex-top uk-open" style="display: block" @click="close">
        <div class="uk-modal-dialog" @click.stop>
            <button class="uk-modal-close-default" type="button" uk-close @click="close"></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">
                    Received Inputs for:
                </h2>
            </div>

            <div class="uk-modal-body">

            </div>

            <div class="uk-modal-footer uk-background-muted"></div>
        </div>
    </div>

</template>

<script>
    export default {

        data () {
            return {
                // this.show: ""
            }
        },

        mounted () {
            // document.addEventListener("keydown", (e) => {
            //     if (this.show && e.keyCode === 27) {
            //         this.close();
            //     }
            // });
        },

        methods: {
            close () {
                // this.$emit('close');
            },
        }

    }
</script>