<template>
    <div>

        <a @click.prevent="changeStatus()"
            class="uk-button uk-button-small"
            :class="[publishedClass, unPublishedClass]">
            {{status}}
        </a>

    </div>
</template>

<script>
    export default {
        props: [
            'pStatus',
            'pSlug'
        ],

        data () {
            return {
                slug: this.pSlug,
                status: this.pStatus,
                publishedClass: 'uk-button-primary',
                unPublishedClass: 'uk-button-warning'
            }
        },

        mounted () {
            this.setClass()
        },

        methods: {

            setClass() {
                if (this.status === 'published') {
                    this.unPublishedClass = '';
                } else {
                    this.publishedClass = '';
                }
            },

            changeStatus () {
                if (this.status === 'published') {
                    this.unPublish();
                } else {
                    this.publish();
                }
            },

            unPublish () {
                this.$http.post(`/ajax/published-page/destroy`, this.slug).then((response) => {
                    this.status = 'unpublished';
                    this.unPublishedClass = 'uk-button-warning';
                    this.publishedClass = '';
                });
            },

            publish () {
                this.$http.post(`/ajax/published-page/store`, this.slug).then((response) => {
                    this.status = 'published';
                    this.publishedClass = 'uk-button-primary';
                    this.unPublishedClass = '';
                });
            }
        }

    }
</script>