<template>
    <div class="uk-background-default">
        <div class="uk-padding">

            <div class="uk-align-center uk-margind uk-text-center successfullySubscribed uk-padding" v-if="successfullyUpdated">
                You have successfully resumed your subscription.
            </div>

            <form @submit.prevent="submitForm()">
                <div class="uk-margin">
                    <label class="uk-form-label" for="Card Holder Name">
                        Card Holder Name
                    </label>
                    <div class="uk-form-controls">
                        <input v-model="card.cardHolderName"
                            @keydown="cardHolderNameError = ''"
                            class="uk-input" type="text"
                            :class="{ 'uk-form-danger': cardHolderNameError }">
                        <p class="text-smaller uk-text-danger uk-margin-remove"
                            v-if="cardHolderNameError">
                            {{cardHolderNameError}}
                        </p>
                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="Card Number">
                        Card Number
                    </label>
                    <div class="uk-form-controls">
                        <div id="card-number" class="uk-input"
                        :class="{ 'uk-form-danger sm-t-padding': cardNumberError }"></div>
                        <p class="text-smaller uk-text-danger uk-margin-remove"
                            v-if="cardNumberError">
                            {{cardNumberError}}
                        </p>
                    </div>
                </div>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="Card CVC">
                            Card CVC
                        </label>
                        <div class="uk-form-controls">
                            <div id="card-cvc" class="uk-input"
                                :class="{ 'uk-form-danger sm-t-padding': cardCvcError }"></div>
                            <p class="text-smaller uk-text-danger uk-margin-remove"
                                v-if="cardCvcError">
                                {{cardCvcError}}
                            </p>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s">
                        <label class="uk-form-label" for="Expiry Month">
                            Expiry
                        </label>
                        <div class="uk-form-controls">
                            <div id="card-expiry" class="uk-input"
                                :class="{ 'uk-form-danger sm-t-padding': cardExpiryError }"></div>
                            <p class="text-smaller uk-text-danger uk-margin-remove"
                                v-if="cardExpiryError">
                                {{cardExpiryError}}
                            </p>
                        </div>
                    </div>

                </div>

                <div class="uk-align-center uk-margin">
                    <div id="card-errors" class="card-errors uk-text-center uk-text-danger text-smaller"
                        ref="card-errors">
                        {{stripeError}}
                    </div>
                </div>

                <div class="uk-align-center uk-margin">
                    <button type="submit"
                        class="uk-button uk-button-primary uk-width-1-1">
                        <span v-if="processing">
                            <i class="fa fa-btn fa-spinner fa-spin"></i>
                            Processing...
                        </span>
                        <span v-if="! processing">
                            Update My Info
                        </span>
                    </button>
                </div>

            </form>

        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                successfullyUpdated: false,

                //card
                cardHolderName: '',
                card: {
                    cvc: '',
                    number: '',
                    expiry: ''
                },

                //elements
                cardN: '',
                cardE: '',
                cardC: '',
                stripe: '',

                // validation
                stripeError: '',
                cardCvcError: '',
                cardExpiryError: '',
                cardNumberError: '',
                cardHolderNameError: '',

                processing: false,
            }
        },

        mounted () {
            this.setUpStripe();
        },

        methods: {

            setUpStripe(){
                const stripe = window.Stripe('pk_test_GZYfG6M52r52tEHYj4G5mUkz');
                this.stripe = stripe;

                const elements = stripe.elements();
                this.cardN = elements.create('cardNumber');
                this.cardE = elements.create('cardExpiry');
                this.cardC = elements.create('cardCvc');

                this.cardN.mount('#card-number');
                this.cardE.mount('#card-expiry');
                this.cardC.mount('#card-cvc');

                this.listenForErrors();
            },

            listenForErrors() {
                const vm = this;
                this.cardN.addEventListener('change', function(event) {
                    if (event.error) {
                        vm.stripeError = event.error.message;
                    } else {
                        vm.stripeError = '';
                    }
                    vm.card.number = event.complete ? true : false
                });
                this.cardE.addEventListener('change', function(event) {
                    if (event.error) {
                        vm.stripeError = event.error.message;
                    } else {
                        vm.stripeError = '';
                    }
                    vm.card.expiry = event.complete ? true : false
                });
                this.cardC.addEventListener('change', function(event) {
                    if (event.error) {
                        vm.stripeError = event.error.message;
                    } else {
                        vm.stripeError = '';
                    }
                    vm.card.cvc = event.complete ? true : false
                });
            },

            submitForm() {
                this.clearCardErrors();
                let valid = true;
                if(!this.card.cardHolderName){
                    valid = false;
                    this.cardHolderNameError = "Card Holder Name is Required";
                }
                if(!this.card.number){
                    valid = false;
                    this.cardNumberError = "Card Number is Required";
                }
                if(!this.card.cvc){
                    valid = false;
                    this.cardCvcError = "CVC is Required";
                }
                if(!this.card.expiry){
                    valid = false;
                    this.cardExpiryError = "Month is Required";
                }
                if(this.stripeError) {
                    valid = false;
                }
                if(valid){
                    this.createToken();
                }
            },

            clearCardErrors(){
                this.stripeError = '',
                this.cardCvcError = '';
                this.cardExpiryError = '';
                this.cardNumberError = '';
                this.cardHolderNameError = '';
            },

            createToken() {
                const vm = this;
                this.processingPayment = true
                this.stripe.createToken(this.cardN).then(function(result) {
                    if (result.error) {
                        this.stripeError = result.error.message;
                    } else {
                        vm.updatePaymentInfo(result.token.id);
                    }
                })
            },

            updatePaymentInfo(token) {
                this.$http.post(`/ajax/payment-info/update`, token)
                    .then((response) => {
                        this.clearInputs();
                        this.successfullyUpdated = true
                        this.processingPayment = false;
                    });
            },

            clearInputs () {
                this.card.cardHolderName = '';
                this.cardN.clear(),
                this.cardE.clear(),
                this.cardC.clear()
            },

        }
    }
</script>