<template>

    <div uk-modal class="uk-flex-top uk-open" style="display: block" @click="close">
        <div class="uk-modal-dialog" @click.stop>
            <button class="uk-modal-close-default" type="button" uk-close @click="close"></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Refunds</h2>
            </div>
            <div class="uk-modal-body">
                <p>
                    You can refund a portion of or all of the total amount you charged for this transacton and nothing more. Leave blank to refund the total amount.
                </p>
                <form class="uk-grid-small" uk-grid @submit.prevent="refundCharge">

                    <div class="uk-width-1-1@s uk-margin-remove">
                        <p class="uk-text-smaller uk-text-center uk-text-danger">
                            {{ stripeErrors.message }}
                        </p>
                        <p class="uk-text-small uk-text-center uk-text-danger" v-if="formErrors.amount">
                            {{formErrors.amount[0]}}
                        </p>
                    </div>

                    <div class="uk-width-3-4@s">
                        <input class="uk-input" v-model="refund.amount"
                            :class="{ 'uk-form-danger': formErrors.price }"
                            @keydown="clearErrors"
                            name="amount"
                            type="text"
                        >
                    </div>
                    <div class="uk-width-1-4@s">
                        <button type="submit" class="uk-button uk-button-primary uk-width-1-1">
                            Refund
                        </button>
                    </div>

                </form>
            </div>
            <div class="uk-modal-footer uk-background-muted"></div>
        </div>
    </div>

</template>

<script>
export default {
    data () {
        return {
            transaction: this.$root.$data.transaction,
            show: this.$root.$data.refundModalState,
            formErrors: {},
            stripeErrors: {},
            refund: {
                amount: '',
                charge_id: ''
            }
        }
    },

    mounted: function () {
        document.addEventListener("keydown", (e) => {
            if (this.show && e.keyCode === 27) {
                this.close();
            }
        })
    },

    methods: {
        close () {
            this.$emit('close');
        },

        refundCharge() {
            this.refund.charge_id = this.transaction.charge_id;

            this.$http.post(`/ajax/payment/refund`, this.refund).then((response) => {
                this.$swal({
                    title: 'Success',
                    text: 'Your refund operation was successful.',
                    type: 'success',
                    timer: 2000
                });
            }).catch( errors => {
                const error = errors.response.data;
                if( error.hasOwnProperty('errors') ) {
                    this.formErrors = errors.response.data.errors;
                } else {
                    this.stripeErrors = errors.response.data;
                }
            });
        },

        clearErrors () {
            this.formErrors = {};
            this.stripeErrors = {};
        }
    }

}
</script>