<template>
    <div>

        <button @click.prevent="createSubscription()" class="uk-button"
            :class="[isSubscribed, isNotSubscribed]" v-if="createSubscriptionButton">
            <span v-if="loading">
                <i class="fa fa-btn fa-spinner fa-spin"></i>
                Processing...
            </span>
            <span v-if="!loading">
                {{wordToDisplay}}
            </span>
        </button>

        <button @click.prevent="currentSubscription()" class="uk-button"
            :class="[isSubscribed, isNotSubscribed]" v-if="currentPlanButton">
            <span v-if="loading">
                <i class="fa fa-btn fa-spinner fa-spin"></i>
                Processing...
            </span>
            <span v-if="! loading">
                {{wordToDisplay}}
            </span>
        </button>

        <button @click.prevent="resumeSubscription()" class="uk-button"
            :class="[isSubscribed, isNotSubscribed]" v-if="resumeSubscriptionButton">
            <span v-if="loading">
                <i class="fa fa-btn fa-spinner fa-spin"></i>
                Processing...
            </span>
            <span v-if="!loading">
                {{wordToDisplay}}
            </span>
        </button>

        <button @click.prevent="swapSubscription()" class="uk-button"
            :class="[isSubscribed, isNotSubscribed]" v-if="swapSubscriptionButton">
            <span v-if="loading">
                <i class="fa fa-btn fa-spinner fa-spin"></i>
                Processing...
            </span>
            <span v-if="!loading">
                {{wordToDisplay}}
            </span>
        </button>

        <button @click.prevent="resumeAndSwapSub()" class="uk-button"
            :class="[isSubscribed, isNotSubscribed]" v-if="resumeAndSwapSubscriptionButton">
            <span v-if="loading">
                <i class="fa fa-btn fa-spinner fa-spin"></i>
                Processing...
            </span>
            <span v-if="!loading">
                {{wordToDisplay}}
            </span>
        </button>

        <div uk-modal class="uk-flex-top uk-open" style="display: block" @click="close" v-if="displaySubscribeModal">
            <div class="uk-modal-dialog" @click.stop>
                <button class="uk-modal-close-default" type="button" uk-close @click="close"></button>

                <div class="uk-modal-header">
                    <h3 class="uk-modal-title">
                        Subscribing to: {{ plan }}
                    </h3>
                </div>

                <div class="uk-modal-body">
                    <div class="uk-align-center uk-text-center successfullySubscribed uk-padding" v-if="successfullySubscribed">
                        You have successfully subscribed to: {{this.plan}}
                    </div>

                    <form @submit.prevent="submitFormToCreateToken()">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="Card Holder Name">
                                Card Holder Name
                            </label>
                            <div class="uk-form-controls">
                                <input v-model="card.cardHolderName"
                                    @keydown="cardHolderNameError = ''"
                                    class="uk-input" type="text"
                                    :class="{ 'uk-form-danger': cardHolderNameError }">
                                <p class="text-smaller uk-text-danger uk-margin-remove"
                                    v-if="cardHolderNameError">
                                    {{cardHolderNameError}}
                                </p>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label class="uk-form-label" for="Card Number">
                                Card Number
                            </label>
                            <div class="uk-form-controls">
                                <div id="card-number" class="uk-input"
                                :class="{ 'uk-form-danger sm-t-padding': cardNumberError }"></div>
                                <p class="text-smaller uk-text-danger uk-margin-remove"
                                    v-if="cardNumberError">
                                    {{cardNumberError}}
                                </p>
                            </div>
                        </div>

                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label" for="Card CVC">
                                    Card CVC
                                </label>
                                <div class="uk-form-controls">
                                    <div id="card-cvc" class="uk-input"
                                        :class="{ 'uk-form-danger sm-t-padding': cardCvcError }"></div>
                                    <p class="text-smaller uk-text-danger uk-margin-remove"
                                        v-if="cardCvcError">
                                        {{cardCvcError}}
                                    </p>
                                </div>
                            </div>
                            <div class="uk-width-1-2@s">
                                <label class="uk-form-label" for="Expiry Month">
                                    Expiry
                                </label>
                                <div class="uk-form-controls">
                                    <div id="card-expiry" class="uk-input"
                                        :class="{ 'uk-form-danger sm-t-padding': cardExpiryError }"></div>
                                    <p class="text-smaller uk-text-danger uk-margin-remove"
                                        v-if="cardExpiryError">
                                        {{cardExpiryError}}
                                    </p>
                                </div>
                            </div>

                        </div>

                        <div class="uk-align-center uk-margin">
                            <div id="card-errors" class="card-errors uk-text-center uk-text-danger text-smaller"
                                ref="card-errors">
                                {{stripeError}}
                            </div>
                        </div>

                        <div class="uk-align-center uk-margin">
                            <button type="submit"
                                class="uk-button uk-button-primary uk-width-1-1">
                                <span v-if="loading">
                                    <i class="fa fa-btn fa-spinner fa-spin"></i>
                                    Processing...
                                </span>
                                <span v-if="! loading">
                                    Subscribe
                                </span>
                            </button>
                        </div>

                    </form>
                </div>

                <div class="uk-modal-footer uk-background-muted"></div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        // let user provide object as prop
        // planName, subscribed class, unsubscribed/defualt class,
        props: [
            'plan'
        ],

        data () {
            return {
                hasSubscription: '',
                planSubscribedTo: '',
                isCustomer: null,

                wordToDisplay: 'Subscribe', //or use prop

                displaySubscribeModal: false,
                successfullySubscribed: false,

                //classes
                isSubscribed: '',
                isNotSubscribed: '',

                //for resume button
                isCancelled: false,
                resumeButton: false,
                resumeAndSwapButton: false,

                //flags
                currentPlanButton: false,
                swapSubscriptionButton: false,
                createSubscriptionButton: true,
                resumeSubscriptionButton: false,
                resumeAndSwapSubscriptionButton: false,

                //card
                cardHolderName: '',
                card: {
                    cvc: '',
                    number: '',
                    expiry: ''
                },

                cardN: '',
                cardE: '',
                cardC: '',
                stripe: '',

                // validation
                stripeError: '',
                cardCvcError: '',
                cardExpiryError: '',
                cardNumberError: '',
                cardHolderNameError: '',

                loading: false,
            }
        },

        mounted () {
            this.getSubscriptionStatus();

            window.addEventListener("keydown", (e) => {
                if (this.displaySubscribeModal && e.keyCode === 27) {
                    this.displaySubscribeModal = false;
                }
            });

            payboxEvent.$on('subscription swapped', () => {
                this.getSubscriptionStatus();
            });

            payboxEvent.$on('subscription created', () => {
                this.getSubscriptionStatus();
            });

            payboxEvent.$on('subscription cancelled', () => {
                this.getSubscriptionStatus();
            });
        },

        methods: {

            getSubscriptionStatus () {
                this.$http.get(`/ajax/user-subscription/${this.plan}/show`)
                .then((response) => {
                    console.log(response.data);
                    this.isCancelled = response.data.isCancelled;
                    this.hasSubscription = response.data.hasSubscription;
                    this.planSubscribedTo = response.data.planSubscribedTo;
                    this.decideButtonToShow();
                    this.applyClasses();
                });
            },

            decideButtonToShow () {
                //for resume Button
                this.showButtonIfAPlanIsCancelledAndItsThisPlan();
                //for resume and swap
                this.showButtonIfPlanIsCancelledAndNotThisPlan();
                //for swap button
                this.showButtonIfHasSubButClickedADiffPlan();
                //for current plan button
                this.showButtonIfThisIsCurrentPlan();
            },

            //if to show the resume Button
            showButtonIfAPlanIsCancelledAndItsThisPlan() {
                if(this.isCancelled
                    && this.planSubscribedTo === this.plan) {
                    this.wordToDisplay = 'Resume Button'

                    this.currentPlanButton = false
                    this.swapSubscriptionButton = false
                    this.resumeSubscriptionButton = true
                    this.createSubscriptionButton = false
                    this.resumeAndSwapSubscriptionButton = false
                }
            },

            //to show resume and swap button
            showButtonIfPlanIsCancelledAndNotThisPlan () {
                if(this.isCancelled
                    && this.planSubscribedTo !== this.plan) {
                    this.wordToDisplay = 'Resume And Swap'

                    this.currentPlanButton = false
                    this.swapSubscriptionButton = false
                    this.resumeSubscriptionButton = false
                    this.createSubscriptionButton = false
                    this.resumeAndSwapSubscriptionButton = true
                }
            },

            //to show swap button
            showButtonIfHasSubButClickedADiffPlan () {
                if (! this.isCancelled
                    && this.hasSubscription
                    && this.planSubscribedTo !== this.plan) {

                    this.wordToDisplay = 'Swap Sub'

                    this.currentPlanButton = false
                    this.swapSubscriptionButton = true
                    this.resumeSubscriptionButton = false
                    this.createSubscriptionButton = false
                    this.resumeAndSwapSubscriptionButton = false
                }
            },

            //to show current plan button
            showButtonIfThisIsCurrentPlan () {
                if (! this.isCancelled
                    && this.hasSubscription
                    && this.planSubscribedTo === this.plan) {

                    this.wordToDisplay = 'Current Plan'

                    this.currentPlanButton = true
                    this.swapSubscriptionButton = false
                    this.resumeSubscriptionButton = false
                    this.createSubscriptionButton = false
                    this.resumeAndSwapSubscriptionButton = false
                }
            },

            applyClasses() {
                //for subscribed
                if (this.hasSubscription === true
                    && this.planSubscribedTo === this.plan) {
                    this.isSubscribed = 'subscribed'
                    this.isNotSubscribed = ''
                //for unsubscribed
                } else {
                    this.isNotSubscribed = 'uk-button-primary'
                    this.isSubscribed = ''
                }
            },

            currentSubscription () {
                this.$swal({
                    title: 'Error',
                    text: 'You are already on this plan.',
                    type: 'error',
                    timer: 2000
                }).catch(() => {});
            },

            createSubscription () {
                this.displaySubscribeModal = true;
                setTimeout(() => {
                    this.setUpStripe();
                }, 500);
            },

            setUpStripe(){
                const stripe = window.Stripe('pk_test_GZYfG6M52r52tEHYj4G5mUkz');
                this.stripe = stripe;

                const elements = stripe.elements();
                const cardN = elements.create('cardNumber');
                const cardE = elements.create('cardExpiry');
                const cardC = elements.create('cardCvc');
                this.cardN = cardN;
                this.cardE = cardE;
                this.cardC = cardC;

                cardN.mount('#card-number');
                cardE.mount('#card-expiry');
                cardC.mount('#card-cvc');

                this.listenForErrors(cardN, cardE, cardC);
            },

            listenForErrors(cardN, cardE, cardC) {
                const vm = this;
                cardN.addEventListener('change', function(event) {
                    if (event.error) {
                        vm.stripeError = event.error.message;
                    } else {
                        vm.stripeError = '';
                    }
                    vm.card.number = event.complete ? true : false
                });
                cardE.addEventListener('change', function(event) {
                    if (event.error) {
                        vm.stripeError = event.error.message;
                    } else {
                        vm.stripeError = '';
                    }
                    vm.card.expiry = event.complete ? true : false
                });
                cardC.addEventListener('change', function(event) {
                    if (event.error) {
                        vm.stripeError = event.error.message;
                    } else {
                        vm.stripeError = '';
                    }
                    vm.card.cvc = event.complete ? true : false
                });
            },

            submitFormToCreateToken() {
                this.clearCardErrors();
                let valid = true;
                if(!this.card.cardHolderName){
                    valid = false;
                    this.cardHolderNameError = "Card Holder Name is Required";
                }
                if(!this.card.number){
                    valid = false;
                    this.cardNumberError = "Card Number is Required";
                }
                if(!this.card.cvc){
                    valid = false;
                    this.cardCvcError = "CVC is Required";
                }
                if(!this.card.expiry){
                    valid = false;
                    this.cardExpiryError = "Month is Required";
                }
                if(this.stripeError) {
                    valid = false;
                }
                if(valid){
                    this.createToken();
                }
            },

            clearCardErrors(){
                this.stripeError = '',
                this.cardCvcError = '';
                this.cardExpiryError = '';
                this.cardNumberError = '';
                this.cardHolderNameError = '';
            },

            createToken() {
                const vm = this;
                this.loading = true
                this.stripe.createToken(this.cardN).then(function(result) {
                    if (result.error) {
                        this.stripeError = result.error.message;
                    } else {
                        vm.sendToMyServer(result.token.id);
                    }
                })
            },

            sendToMyServer (token) {
                const data = {planName: this.plan, stripeToken: token}

                this.$http.post(`/ajax/user-subscription/store`, data)
                .then((response) => {

                    this.clearInputs();
                    this.loading = false;
                    this.successfullySubscribed = true;
                    this.close();
                    payboxEvent.$emit('subscription created');

                })
                .catch(error => {
                    this.loading = false;
                    this.stripeError = error.response.data.error;
                });
            },

            swapSubscription () {
                const vm = this;
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You are about to swap your subscription?',
                    type: 'warning',
                    showCancelButton: true,
                }).then((response) => {
                    this.loading = true;

                    vm.$http.patch(`/ajax/user-subscription/${this.plan}/update`)
                    .then((res) => {

                        this.isSubscribed = ''
                        this.wordToDisplay = ''
                        this.isNotSubscribed = ''
                        payboxEvent.$emit('subscription swapped');

                        this.loading = false;

                        this.$swal({
                            title: 'Success',
                            text: 'Your have successfully swapped your subscription.',
                            type: 'success',
                            timer: 2000
                        }).catch(() => {});
                    })
                    .catch(error => {
                        this.loading = false;
                        this.errorResponse(error.response.data.error);
                    });
                }).catch(() => {});
            },

            resumeAndSwapSub () {
                const vm = this;
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You are about to resume and swap your subscription?',
                    type: 'warning',
                    showCancelButton: true,
                }).then((response) => {
                    this.loading = true;

                    vm.$http.delete(`/ajax/resumeandswap-subscription/${this.plan}/destroy`)
                    .then((res) => {
                        this.isSubscribed = ''
                        this.wordToDisplay = ''
                        this.isNotSubscribed = ''
                        payboxEvent.$emit('subscription swapped');

                        this.loading = false;

                        this.$swal({
                            title: 'Success',
                            text: 'Your have successfully resumed and swapped your subscription.',
                            type: 'success',
                            timer: 2000
                        }).catch();
                    })
                    .catch(error => {
                        this.loading = false;
                        this.errorResponse(error.response.data.error);
                    });
                });
            },

            resumeSubscription () {
                const vm = this;
                this.$swal({
                    title: 'Are you sure?',
                    text: 'You are about to resume this subscription?',
                    type: 'warning',
                    showCancelButton: true,
                }).then((response) => {
                    this.loading = true;
                    vm.$http.delete(`/ajax/cancelled-subscription/destroy`)
                    .then((res) => {
                        this.$swal({
                            title: 'Success',
                            text: 'Your subscription has been renewed successfully.',
                            type: 'success',
                            timer: 2000
                        }).catch();
                        this.loading = false;
                    })
                    .catch(error => {
                        this.loading = false;
                        this.errorResponse(error.response.data.error);
                    });
                });
            },

            clearInputs () {
                this.card.cardHolderName = '';
                this.cardN.clear(),
                this.cardE.clear(),
                this.cardC.clear()
            },

            errorResponse (message) {
                this.$swal({
                    title: 'Something is wrong!',
                    text: message,
                    type: 'error',
                    timer: 2000
                }).catch(() => {});
            },

            close () {
                this.displaySubscribeModal = false;
            }
        }
    }
</script>