<template>
    <div>

        <button @click.prevent="cancelSubscription()"
            class="uk-button" :class="[defaultClass]"
            v-if="showButton">
            <span v-if="loading">
                <i class="fa fa-btn fa-spinner fa-spin"></i>
                Cancelling...
            </span>
            <span v-if="! loading">
                {{wordToDisplay}}
            </span>
        </button>

    </div>
</template>

<script>
    export default {
        // let user provide object as prop
        // defualt class, wordToDisplay
        data () {
            return {
                wordToDisplay: 'Cancel My Subscription',
                defaultClass: 'default',
                isCancelled: false,
                loading: false,
                hasSubscription: false,
                showButton: false
            }
        },

        mounted () {
            this.checkCancelStatus();

            payboxEvent.$on('subscription created', () => {
                this.checkCancelStatus();
            });

        },
        methods: {
            checkCancelStatus() {
                this.$http.get('/ajax/cancelled-subscription/show')
                .then(response => {
                    this.isCancelled = response.data.isCancelled;
                    this.hasSubscription = response.data.hasSubscription;
                    this.toggleButtonState();
                    console.log(response.data);
                })
            },

            toggleButtonState() {
                if(this.hasSubscription
                    && this.isCancelled === false) {
                    this.showButton = true;
                }
                if (this.isCancelled) {
                    this.showButton = false;
                }
            },

            cancelSubscription () {
                const vm = this;

                this.$swal({
                    title: 'Are you sure?',
                    text: 'You are about to cancel your subscription?',
                    type: 'warning',
                    showCancelButton: true,
                }).then((response) => {
                    this.loading = true;

                    vm.$http.post(`/ajax/cancelled-subscription/store`)
                    .then((response) => {
                        this.isCancelled = true;
                        this.loading = false;

                        this.toggleButtonState();

                        payboxEvent.$emit('subscription cancelled');

                        this.$swal({
                            title: 'success',
                            text: 'You have successfully cancelled your subscription. You are now on grace period till your subscription expires.`',
                            type: 'success',
                            timer: 4000
                        }).catch(() => {});

                    })
                    .catch(error => {
                        this.loading = false;
                        this.errorResponse(error.response.data.error);
                    });

                })
                .catch(() => {});
            },

            errorResponse (message) {
                this.$swal({
                    title: 'Something is wrong!',
                    text: message,
                    type: 'error'
                }).catch(() => {});
            }
        }
    }
</script>